body {
	padding: 0;
	margin: 0;
	font: 13pt Calibri, Tahoma, Verdana;
}

.navBar {
	border-radius: 1px;
	padding: 0;
	margin: 0;
}
#track-details{
	padding: 0;
	margin: 0;
}
#row{
	padding: 0;
	margin: 0;
}

#home {
	padding-top: 250px;
	margin: 0;
	height: 95vh;
	width: inherit;
	text-align: center;
	background-size: 100%;
	background-image:
		url(/images/download.png);
	color: rgba(242, 242, 242, 1);
}

#tracks {
	background-image:
		url(/images/download.jpg);
	padding-top: 50px;
	margin: 0;
	height: 95vh;
	text-align: center;
	background-position: top;
	border-radius: 1px;
	color: rgba(222, 222, 222, 1);
}

.img-track{
	margin-top:20px;
	width: 200px;
	height: 190px;
}


#tracks-table{
	color: rgba(22, 22, 22, 1);
	background-color: white;
}
#footer{
	background-color: rgb(231, 231, 231);
	border-radius: 2px;
	height: 5vh;
	text-align: center;
	width: 100%;
}
