body {
	padding: 0px;
	margin: 0px;
	background-color : rgba( 6, 27, 61, 0.9);
	font: 13pt Calibri, Tahoma, Verdana;
}

.navBar {
	border-radius: 1px;
	padding: 0px;
	margin: 0px;
}

#home {
	padding-top: 150px;
	margin: 0px;
	height: 83vh;
	text-align: center;
	background-image:
		url(/images/download.jpg);
	background-position: top; 
	color: rgba(242, 242, 242, 1);
}

#tracks {
	background-color: inherit;
	padding: 15px;
	margin: 0px;
	height: 83vh;
	text-align: center;
	background-position: top;
	border-radius: 1px;
	color: rgba(242, 242, 242, 1);
}
.img-track{
	margin-top:20px;
	width: 200px;
	height: 190px;	
}

#footer {
	border-radius: 2px;
	height: 11vh;
	padding-top: 25px;
	text-align: center;
}