body {
	padding: 0px;
	margin: 0px;
	background-color : rgba( 6, 27, 61, 0.9);
	font: 13pt Calibri, Tahoma, Verdana;
}

.navBar {
	border-radius: 1px;
	padding: 0px;
	margin: 0px;
}
#track-details{
	padding: 0px;
	margin: 0px;
}
#row{
	padding: 0px;
	margin: 0px;
}

#home {
	padding-top: 250px;
	margin: 0px;
	height: 83vh;
	width: inherit;
	text-align: center;
	background-image:
		url(/images/download.jpg);
	background-position: top; 
	color: rgba(242, 242, 242, 1);
}

#tracks {
	background-color: inherit;
	padding-top: 50px;
	margin: 0px;
	height: 83vh;
	text-align: center;
	background-position: top;
	border-radius: 1px;
	color: rgba(222, 222, 222, 1);
}

.img-track{
	margin-top:20px;
	width: 200px;
	height: 190px;	
}


#tracks-table{
	color: rgba(22, 22, 22, 1);
	background-color: white;
}